<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	metadata-complete="true" version="3.1">
	<display-name>Moja prva aplikacija</display-name>
	<description>
     Prva aplikacija
  </description>

	<listener>
		<listener-class>hr.fer.zemris.java.webapp.servletListeners.InitializationProcessListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>colorsJsp</servlet-name>
		<jsp-file>/WEB-INF/pages/colors.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>colorServlet</servlet-name>
		<servlet-class>hr.fer.zemris.java.webapp.servlets.ColorServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>trigonometricServlet</servlet-name>
		<servlet-class>hr.fer.zemris.java.webapp.servlets.TrigonometricServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>reportServlet</servlet-name>
		<servlet-class>hr.fer.zemris.java.webapp.servlets.ReportServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>reportJsp</servlet-name>
		<jsp-file>/WEB-INF/pages/report.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>powersServlet</servlet-name>
		<servlet-class>hr.fer.zemris.java.webapp.servlets.PowersServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>appinfo.jsp</servlet-name>
		<jsp-file>/WEB-INF/pages/appinfo.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>votingServlet</servlet-name>
		<servlet-class>hr.fer.zemris.java.webapp.servlets.VotingServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>votingVoteServlet</servlet-name>
		<servlet-class>hr.fer.zemris.java.webapp.servlets.VotingVoteServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>votingResultsServlet</servlet-name>
		<servlet-class>hr.fer.zemris.java.webapp.servlets.VotingResultsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>colorsJsp</servlet-name>
		<url-pattern>/colors</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>colorServlet</servlet-name>
		<url-pattern>/setColor</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>trigonometricServlet</servlet-name>
		<url-pattern>/trigonometric</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>reportServlet</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>powersServlet</servlet-name>
		<url-pattern>/powers</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>appinfo.jsp</servlet-name>
		<url-pattern>/appinfo</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>votingServlet</servlet-name>
		<url-pattern>/vote</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>votingVoteServlet</servlet-name>
		<url-pattern>/voting-vote</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>votingResultsServlet</servlet-name>
		<url-pattern>/voting-results</url-pattern>
	</servlet-mapping>

</web-app>